@lost gutter 0px;
@import "reset";
@import "defaults";

body {
	background-color: $beige;
	font-family: "Avenir Next";
}

/* logo + menu area */
#top {
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	height:100px;
	width:100%;
	#logo {
		float:left;
		padding:2rem 2.4rem;
		position: relative;
		font-family: "Cherry Swash";
		font-size:24px;
		font-weight: normal;
		color: $red;
	}
	#menu {
		float:right;
		vertical-align: center;
		padding:2.4rem 3rem;
		font-size: 14px;
	}
}

#main {
	@media(min-width: 768px) { height:100%;  lost-utility: clearfix; }
	@media(max-width: 767px) { padding-top:6rem; }
}

#left { background-color: $beige; 
	.dark {
		background-color: $dbeige;
		input {
			background-color: $beige;
		}
	}
}
#right { background-color: $lbeige; }


#left, #right {
	@media(min-width: 768px) { lost-column:1/2; }
	height: inherit;
	// only one element in the left/right column so that vertical centering works 
	// and left/right padding is consistent 
	.wrapper {
		width:90%;
		max-width: 600px;
		margin:0 auto;
		text-align:center;
	}
	//won't ever use but if I need to expand the max-width of the box
	.wrapper.large {
		max-width:900px;
	}
	.wrapper.small {
		max-width: 400px;
	}
	.wrapper.full {
		max-width:100%;
		width:100%;
	}
}
/*
.center is when you have pretty minimal content and you want it in the middle
.fixed-top is when you have content that needs to scroll or starts from the top.
*/
#left.center, #right.center {
	@media(min-width: 768px) { lost-align: center; }
	@media(max-width: 767px) { padding:4rem 2rem; }
}
#left.fixed-top, #right.fixed-top {
	@media(min-width: 768px) { position: relative; top:100px; height:calc(99.99% - 100px); overflow:auto; }
	@media(max-width: 767px) { padding:4rem 2rem; }	
}

@import "signin";
@import "albums";
@import "new-album";